/* body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

#gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1200px;
    margin: auto;
    border-radius: 15px; 
    overflow: hidden; 
    background-color: #f0f0f0; 
    margin-top: 20px;
    padding: 20px;
}

.image {
    width: 200px;
    height: 200px;
    cursor: pointer;
    border: 2px solid #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.image:hover {
    border-color: #3498db;
}

.selected-image {
    border-color: #3498db;
}

.upload-placeholder {
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.3s ease;
}

.upload-placeholder:hover {
    border-color: #3498db;
}

#file-input {
    display: none;
}

#preview-container {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

#preview-container img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border: 2px solid #3498db;
    box-sizing: border-box;
}

#submit-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#submit-button:hover {
    background-color: #267bb5;
}

.container {
    flex-direction: column;
    align-items: center;
}

table {
    flex: 1;
    width: 100%;
    /* border-collapse: collapse; */
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
}

#video, #canvas, #processed-image {
    width: 320px;
    height: 240px;
    /* margin-top: 20px; */
}

#cartoonifier-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #cartoonifier-form label {
    margin-bottom: 10px;
    font-weight: bold;
  }

  #cartoonifier-form input[type="radio"] {
    margin-right: 10px;
  }

/* New */
/* .container {
    display: none;
    flex-direction: column;
    align-items: center;
}

#form-connect {
    margin-bottom: 20px;
}


#canvas {
    border: 2px solid #3498db;
    border-radius: 5px;
    margin-right: 10px;
}

#processed-image {
    border: 2px solid #3498db;
    border-radius: 5px;
} */